link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css")
script(src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js")
script.
  var easyMDE = new EasyMDE({
    promptURLs: true,
    previewImagesInEditor: true,
    uploadImage: true,
    imageUploadEndpoint: `/edit/upload${window.location.search}`,
    toolbar: ["bold", "italic", "strikethrough", "heading-2", "heading-3", "|",
      "quote", "unordered-list", "ordered-list", "table", "horizontal-rule", "|",
      "link", "image", "upload-image", {
        name: "footnote",
        className: "fa fa-caret-up",
        title: "Add footnote reference",
        action: ed => ed.codemirror.replaceSelection("^[]")
      }, {
        name: "page",
        className: "fa fa-at",
        title: "Add page reference",
        action: ed => ed.codemirror.replaceSelection("@[]")
      }, "|", "preview", "guide"],
    insertTexts: {
      "upload-image": ["", ""]
    }
  });
