nav.navbar.navbar-expand.navbar-dark.bg-primary.fixed-top.py-0.px-1
  a.navbar-brand(href="/") md2wiki
  button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent")
    span.navbar-toggler-icon
  #navbarContent.collapse.navbar-collapse
    ul.navbar-nav
      //-TODO make search bar
